* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272b31;
}

canvas {
    height: 100dvh;
    width: min(100dvw, 60dvh);
    background-color: #fff;
}